In [1]:
from typing import List, Optional

import optuna
import pandas as pd
import xgboost as xgb
from tqdm import tqdm

In [2]:
ACTIVITY_NAMES = [
    'nonproduction',
    'input',
    'remove/cut',
    'paste',
    'replace',
    'move'
]
ACTIVITY2IDX = dict(zip(ACTIVITY_NAMES, range(len(ACTIVITY_NAMES))))
TEXT_CHANGE_NAMES = ['alphanum', 'other']
TEXT_CHANGE2IDX = dict(zip(TEXT_CHANGE_NAMES, range(len(TEXT_CHANGE_NAMES))))
ACTION_TIME_COLS = [
    'action_time_max',
    'action_time_mean',
    'action_time_std'
]
WORD_COUNT_NAMES = ['word_count_max', 'word_count_last']


def process_activity(data: pd.Series) -> List[float]:
    """Count activity frequencies

    Parameters
    ----------
    data : pd.Series
        activity data

    Returns
    -------
    List[float]
        activity frequencies
    """

    activity = data.apply(lambda x: 'move' if 'Move' in x else x.lower())
    activity2freq = activity.value_counts(normalize=True)
    res = [0] * len(ACTIVITY_NAMES)
    for name, freq in activity2freq.items():
        res[ACTIVITY2IDX[name]] = freq

    return res


def process_text_change(data: pd.Series) -> List[float]:
    text_change = data.apply(lambda x: 'alphanum' if x == 'q' else 'other')
    text_change2freq = text_change.value_counts(normalize=True)
    res = [0] * len(TEXT_CHANGE_NAMES)
    for name, freq in text_change2freq.items():
        res[TEXT_CHANGE2IDX[name]] = freq

    return res


def prepare_data(
    df: pd.DataFrame,
    labels: Optional[pd.DataFrame] = None
) -> pd.DataFrame:
    """Prepare feature matrix and (optional) labels for a given portion of data

    Parameters
    ----------
    df : pd.DataFrame
        Events DataFrame
    labels : Optional[pd.DataFrame], optional
        Labels DataFrame, by default None

    Returns
    -------
    Tuple[np.ndarray, Optional[np.ndarray]]
        X, y
    """

    data = []
    n_groups = df['id'].nunique()
    for log_id, group in tqdm(df.groupby('id'), total=n_groups):
        tmp = []

        # id
        tmp.append(log_id)

        # action_time
        tmp.extend([
            group['action_time'].max(),
            group['action_time'].mean(),
            group['action_time'].std()
        ])

        # activity
        tmp.extend(process_activity(data=group['activity']))

        # text_change
        tmp.extend(process_text_change(data=group['text_change']))

        # word_count
        tmp.append(group['word_count'].max())
        tmp.append(group.tail(1)['word_count'].values[0])

        # log size
        tmp.append(len(group))

        data.append(tmp)
    res = pd.DataFrame(
        data=data,
        columns=[
            'id', 
            *ACTION_TIME_COLS, 
            *ACTIVITY_NAMES, 
            *TEXT_CHANGE_NAMES, 
            *WORD_COUNT_NAMES, 
            'log_size'
        ]
    )
    if labels is not None:
        res = res.merge(labels, on='id', how='left')

    return res

# Load training/test data

In [3]:
df_logs = pd.read_csv('../input/linking-writing-processes-to-writing-quality/train_logs.csv')
df_logs_test = pd.read_csv('../input/linking-writing-processes-to-writing-quality/test_logs.csv')
df_labels = pd.read_csv('../input/linking-writing-processes-to-writing-quality/train_scores.csv')
df_logs.shape, df_labels.shape, df_logs_test.shape

((8405898, 11), (2471, 2), (6, 11))

# Train data

In [4]:
df_agg = prepare_data(df=df_logs, labels=df_labels)
print(df_agg.shape)
df_agg.head(n=10)

100%|██████████| 2471/2471 [00:03<00:00, 654.33it/s]

(2471, 16)

,id,action_time_max,action_time_mean,action_time_std,nonproduction,input,remove/cut,paste,replace,move,alphanum,other,word_count_max,word_count_last,log_size,score
0,001519c8,2259,116.246774,91.797374,0.046930,0.786077,0.163082,0.000000,0.002738,0.001173,0.758702,0.241298,256,255,2557,3.5
1,0022f953,1758,112.221271,55.431189,0.103504,0.789731,0.105949,0.000407,0.000407,0.000000,0.691932,0.308068,323,320,2454,3.5
2,0042269b,3005,101.837766,82.383766,0.042311,0.849855,0.106141,0.000000,0.001692,0.000000,0.787476,0.212524,404,404,4136,6.0
3,0059420b,806,121.848329,113.768226,0.063625,0.838046,0.097044,0.000643,0.000643,0.000000,0.736504,0.263496,206,206,1556,2.0
4,0075873a,701,123.943896,62.082013,0.028447,0.767286,0.204267,0.000000,0.000000,0.000000,0.775978,0.224022,252,252,2531,4.0
5,0081af50,1102,81.404342,40.653054,0.034374,0.811398,0.152872,0.000000,0.001357,0.000000,0.783356,0.216644,275,275,2211,2.0
6,0093f095,501,109.717847,37.018331,0.019263,0.896884,0.083853,0.000000,0.000000,0.000000,0.806799,0.193201,242,241,1765,4.5
7,009e23ab,803,90.755631,41.934952,0.065873,0.839354,0.094348,0.000000,0.000425,0.000000,0.728432,0.271568,308,307,2353,4.0
8,00e048f1,613,75.011356,33.244615,0.025868,0.899685,0.074448,0.000000,0.000000,0.000000,0.782334,0.217666,223,223,1585,3.5
9,00e1f05a,11017,93.343215,198.896690,0.029134,0.785203,0.184769,0.000000,0.000894,0.000000,0.778559,0.221441,739,739,7826,4.5

# Test data

In [5]:
df_agg_test = prepare_data(df=df_logs_test)
print(df_agg_test.shape)
df_agg_test.head(n=10)

100%|██████████| 3/3 [00:00<00:00, 1241.29it/s]

(3, 15)

,id,action_time_max,action_time_mean,action_time_std,nonproduction,input,remove/cut,paste,replace,move,alphanum,other,word_count_max,word_count_last,log_size
0,0000aaaa,87,86.0,1.414214,0,1.0,0,0,0,0,0.0,1.0,0,0,2
1,2222bbbb,67,56.5,14.849242,0,1.0,0,0,0,0,1.0,0.0,1,1,2
2,4444cccc,94,75.0,26.870058,0,1.0,0,0,0,0,0.5,0.5,1,1,2

In [6]:
columns = df_agg.columns
features_names = columns[1:-1]
features_names

Index(['action_time_max', 'action_time_mean', 'action_time_std',
       'nonproduction', 'input', 'remove/cut', 'paste', 'replace', 'move',
       'alphanum', 'other', 'word_count_max', 'word_count_last', 'log_size'],
      dtype='object')

In [7]:
X_train = df_agg[features_names].values
y_train = df_agg['score'].values
X_train.shape, y_train.shape

((2471, 14), (2471,))

In [8]:
X_test = df_agg_test[features_names].values
X_test.shape

(3, 14)

# Train model

In [9]:
n_trials = 30

clf = xgb.XGBRegressor(eval_metric='rmse')
param_distributions = {
    'n_estimators': optuna.distributions.IntDistribution(2, 100),
    'max_depth': optuna.distributions.IntDistribution(2, 10),
    'learning_rate': optuna.distributions.FloatDistribution(0, 1)
}
optuna_search = optuna.integration.OptunaSearchCV(
    estimator=clf, 
    param_distributions=param_distributions,
    n_trials=n_trials
)
optuna_search.fit(X_train, y_train)
y_test = optuna_search.predict(X_test)

/var/folders/k7/932b6zfd3fz6b1wx81v3k5jw0000gn/T/ipykernel_2741/1738536671.py:9: ExperimentalWarning: OptunaSearchCV is experimental (supported from v0.17.0). The interface can change in the future.
  optuna_search = optuna.integration.OptunaSearchCV(
[I 2023-10-25 05:38:44,656] A new study created in memory with name: no-name-3b6bac77-e53d-41bc-acd6-012bf0edf042
[I 2023-10-25 05:38:44,935] Trial 0 finished with value: 0.42938848424669196 and parameters: {'n_estimators': 41, 'max_depth': 5, 'learning_rate': 0.45681386970781623}. Best is trial 0 with value: 0.42938848424669196.
[I 2023-10-25 05:38:45,609] Trial 1 finished with value: 0.466680780436326 and parameters: {'n_estimators': 80, 'max_depth': 8, 'learning_rate': 0.15390429435582698}. Best is trial 1 with value: 0.466680780436326.
[I 2023-10-25 05:38:45,733] Trial 2 finished with value: 0.401450291868039 and parameters: {'n_estimators': 13, 'max_depth': 8, 'learning_rate': 0.16962792226678025}. Best is trial 1 with value: 0.466680780436326.
[I 2023-10-25 05:38:46,504] Trial 3 finished with value: 0.3116780899182718 and parameters: {'n_estimators': 100, 'max_depth': 8, 'learning_rate': 0.7790305883725153}. Best is trial 1 with value: 0.466680780436326.
[I 2023-10-25 05:38:46,942] Trial 4 finished with value: 0.22969416757724118 and parameters: {'n_estimators': 85, 'max_depth': 5, 'learning_rate': 0.925166105600908}. Best is trial 1 with value: 0.466680780436326.
[I 2023-10-25 05:38:47,056] Trial 5 finished with value: 0.5143400841454646 and parameters: {'n_estimators': 32, 'max_depth': 3, 'learning_rate': 0.394421913511818}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:47,586] Trial 6 finished with value: 0.4261129653528156 and parameters: {'n_estimators': 53, 'max_depth': 9, 'learning_rate': 0.3387977092788079}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:47,691] Trial 7 finished with value: 0.328861695978107 and parameters: {'n_estimators': 19, 'max_depth': 5, 'learning_rate': 0.9025851404899168}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:47,842] Trial 8 finished with value: 0.3942111586497906 and parameters: {'n_estimators': 45, 'max_depth': 3, 'learning_rate': 0.8594427343769179}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:47,943] Trial 9 finished with value: 0.4225228331395233 and parameters: {'n_estimators': 8, 'max_depth': 10, 'learning_rate': 0.4071337360900219}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,024] Trial 10 finished with value: 0.493054724725403 and parameters: {'n_estimators': 29, 'max_depth': 2, 'learning_rate': 0.6388149892089661}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,102] Trial 11 finished with value: 0.5010363125131966 and parameters: {'n_estimators': 30, 'max_depth': 2, 'learning_rate': 0.6636780331372515}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,300] Trial 12 finished with value: 0.44735283425485256 and parameters: {'n_estimators': 60, 'max_depth': 3, 'learning_rate': 0.6308783161217388}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,379] Trial 13 finished with value: 0.5077950812394392 and parameters: {'n_estimators': 28, 'max_depth': 2, 'learning_rate': 0.5943397347121979}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,512] Trial 14 finished with value: 0.49819850296439283 and parameters: {'n_estimators': 29, 'max_depth': 4, 'learning_rate': 0.3311851428521543}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,712] Trial 15 finished with value: 0.474033643184646 and parameters: {'n_estimators': 62, 'max_depth': 3, 'learning_rate': 0.5251617162755688}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:48,941] Trial 16 finished with value: -0.3385526851098189 and parameters: {'n_estimators': 36, 'max_depth': 6, 'learning_rate': 0.034454976185896324}. Best is trial 5 with value: 0.5143400841454646.
[I 2023-10-25 05:38:49,009] Trial 17 finished with value: 0.5216841606700493 and parameters: {'n_estimators': 21, 'max_depth': 2, 'learning_rate': 0.5187101421559598}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,121] Trial 18 finished with value: 0.4878284068834479 and parameters: {'n_estimators': 17, 'max_depth': 4, 'learning_rate': 0.5007745449728946}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,156] Trial 19 finished with value: 0.45605884726337304 and parameters: {'n_estimators': 2, 'max_depth': 4, 'learning_rate': 0.7622125894942361}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,352] Trial 20 finished with value: 0.20627820796024404 and parameters: {'n_estimators': 20, 'max_depth': 7, 'learning_rate': 0.9825503341936652}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,429] Trial 21 finished with value: 0.5182982785715301 and parameters: {'n_estimators': 25, 'max_depth': 2, 'learning_rate': 0.5465698069767148}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,550] Trial 22 finished with value: 0.5123298271451234 and parameters: {'n_estimators': 48, 'max_depth': 2, 'learning_rate': 0.5291679932929266}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,684] Trial 23 finished with value: 0.505844477803362 and parameters: {'n_estimators': 37, 'max_depth': 3, 'learning_rate': 0.4031507004925796}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,765] Trial 24 finished with value: 0.5173041654005254 and parameters: {'n_estimators': 23, 'max_depth': 2, 'learning_rate': 0.5627934274251317}. Best is trial 17 with value: 0.5216841606700493.
[I 2023-10-25 05:38:49,810] Trial 25 finished with value: 0.5226471952147939 and parameters: {'n_estimators': 9, 'max_depth': 2, 'learning_rate': 0.5590934359815072}. Best is trial 25 with value: 0.5226471952147939.
[I 2023-10-25 05:38:49,852] Trial 26 finished with value: 0.4835035017904528 and parameters: {'n_estimators': 5, 'max_depth': 4, 'learning_rate': 0.7061549389079518}. Best is trial 25 with value: 0.5226471952147939.
[I 2023-10-25 05:38:49,908] Trial 27 finished with value: 0.5213770171060528 and parameters: {'n_estimators': 10, 'max_depth': 2, 'learning_rate': 0.5795388106260659}. Best is trial 25 with value: 0.5226471952147939.
[I 2023-10-25 05:38:49,968] Trial 28 finished with value: 0.4942584007894758 and parameters: {'n_estimators': 11, 'max_depth': 3, 'learning_rate': 0.7200969007955529}. Best is trial 25 with value: 0.5226471952147939.
[I 2023-10-25 05:38:49,998] Trial 29 finished with value: -0.39969219383844756 and parameters: {'n_estimators': 2, 'max_depth': 5, 'learning_rate': 0.4599705887227717}. Best is trial 25 with value: 0.5226471952147939.

In [10]:
df_agg_test['score'] = y_test
df_agg_test.head()

,id,action_time_max,action_time_mean,action_time_std,nonproduction,input,remove/cut,paste,replace,move,alphanum,other,word_count_max,word_count_last,log_size,score
0,0000aaaa,87,86.0,1.414214,0,1.0,0,0,0,0,0.0,1.0,0,0,2,1.252428
1,2222bbbb,67,56.5,14.849242,0,1.0,0,0,0,0,1.0,0.0,1,1,2,1.845953
2,4444cccc,94,75.0,26.870058,0,1.0,0,0,0,0,0.5,0.5,1,1,2,1.252428

In [11]:
df_agg_test[['id', 'score']].to_csv('submission.csv', index=False)